.material-symbols-outlined.bookLogo {
    font-size: 5em;
    color: whitesmoke;
    width: 1em;
    height: 1em;
    margin: 20px;
    border-radius: 50%;
    border: 5px solid whitesmoke;
    padding: 10px;
    background-color: steelblue;
}
