$background-color: #282c34;
$prime-color: #4676B4;
$secondary-color: #7FA3C7;
$font-color: #EAF6FF;

.logo {
    font-size: 3.5rem;
}

div.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 3rem 2rem;
    background-color: $prime-color;
    color: $font-color;
}

nav a, .nav-btn {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: $font-color;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px;
}

nav a:hover, nav-btn:hover {
    border: 2px solid $font-color;
    color: $font-color;
    border-radius: 10px;
}

div .nav-btn {
    padding: 10px;
    cursor: pointer;
    background: transparent;
    outline: none;
    color: $font-color;
    visibility: hidden;
    opacity: 0;
}

.link-list {
    display: flex;
    gap: 1.5rem;
}

@media only screen and (max-width: 1024px) {
    div .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    div nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        gap: 1.5rem;
        transition: 0.67s;
        transform: translateY(-100vh);
        background-color: $prime-color;

    }

    div .show-navbar {
        transform: none;
    }
}
