$background-color: #282c34;
$prime-color: #4676B4;
$secondary-color: #7FA3C7;
$font-color: #EAF6FF;

$form-background: lighten($background-color, 10%);

.form {
    background-color: $form-background;
    padding: 20px;
    border-radius: 7px;
    width: 300px;
    margin: 0 auto;

    label {
        display: block;
        margin-bottom: 5px;
        color: $prime-color;
    }

    input, select {
        display: block;
        width: 100%;
        padding: 10px;
        border: 2px solid $secondary-color;
        border-radius: 7px;
        margin-bottom: 15px;
    }

    button {
        width: 100%;
    }
}
